<options>
    <rendersystem>opengl</rendersystem>
    <renderdevice>
        <![CDATA[]]>
</renderdevice>
    <videomode>
        <![CDATA[1920 x 1080]]>
</videomode>
    <fullscreen value="1" />
    <vsync value="1" />
    <antialias>
        <![CDATA[8]]>
</antialias>
    <audiodevice value="255" />
    <parameters></parameters>
    <vsync_interval value="1" />
    <language>en</language>
</options>
